# Django
*/migrations/
!*/migrations/__init__.py
*.pyc
__pycache__/
db.sqlite3
.env
media/
staticfiles/
/staticfiles/
/static/root/

venv/
env/

# IDE
.vscode/

# System
.DS_Store
Thumbs.dbstaticfiles/
